<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="se.baraluftvapen.hansson.flora">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <meta-data android:name="android.max_aspect" android:value="3" />

    <application
        android:allowBackup="true"
        android:installLocation="auto"
        android:icon="@drawable/ic_launcher"
        android:label="Svenska växter"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.max_aspect" android:value="3" />

        <activity
            android:name=".MainActivity"
            android:label="Svenska växter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.max_aspect" android:value="3" />
        </activity>

        <activity
            android:name=".Browse"
            android:label="Bläddra"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>

        <activity
            android:name=".FlowerActivity"
            android:label="Växtvy"
            android:parentActivityName=".Browse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Inställningar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".MapActivity"
            android:label="Utbredning"
            android:launchMode="singleTop"
            android:parentActivityName=".FlowerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".TabLayoutActivity"
            android:label="Info"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".QuizActivity"
            android:label="Quiz1"
            android:launchMode="singleTop"
            android:parentActivityName=".QuizMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".QuizMenu"
            android:label="Quiz meny"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".QuizPic"
            android:label="Quiz2"
            android:launchMode="singleTop"
            android:parentActivityName=".QuizMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>